body {
    font-family: 'Cormorant Garamond', serif;
    background-color: gray;
    color: white;
  
}

.container-fluid {
    padding-bottom: 45px;
    text-align: center;
}

#about {
    padding-top: 45px;
}

#about-text {
    font-size: 20px;
}
h1 {
    font-family: 'lobster two', cursive;
    margin-top: 50px;
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

h3 {
    padding-top: 55px;
    font-size: 40px;
    text-align: center;
}

h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
}

h5 {
    font-size: 30px;
    color: white;

}


#masthead {
    background-image: url("./assets/background9.jpg");
    background-size: cover; 
    padding-top: 50px;
    text-align: center;
    color: white;
} 

#title {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: 600;

 
} 



.logos {
  display: flex;
  justify-content: space-evenly;

}

#logo {
  height: 80px;
  width: 80px;

}

hr {
  border: 10px solid white;;
}
.card-img-top{
    border: 2px solid white;
    border-radius: 5px;
    height: 300px;
}
   

.card-img-top:hover {
    border: 2px solid black;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-size: 18px;
}

a.nav-link{
    color: gray;
    font-size: 20px;
}

a.navbar-brand{
    color: gray;
}

fieldset {
    display: grid;
    width: 300px;
    
 }

form {
    display: grid;
    justify-content: center;
}

#contact {
    padding-top: 45px;
    margin-bottom: 50px;
   
}

#linkedin {
    height: 80px;
    padding: 10px;
}


footer {
   background-image: url("./assets/background9.jpg");
   background-size: cover;
   text-align: center;
   height: 30px;
   font-size: 20px;
}

button {
    background-color: #ff8080;
    border-radius: 5px;
    padding: 10px;

}

button:hover {
    background-color: white;
}

button a {
    text-decoration: none;
    color: black;
}

#welcome {
  font-weight: 600;
  /* margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 8s steps(60, end);  */
}
/* 
@keyframes type{ 
  from { width: 0; } 

} */